.container {
  padding: 2rem 0;
}

.wrapper_video {
  display: flex;
  flex-direction: column;

  .media_video {
    display: flex;
    min-height: 70rem;
    height: 100%;
    background:gray;
    margin-bottom: 1rem;
    justify-content: center;
  }

  .episodes {
    background: gray;
    padding: 1rem;

    .title-episode {
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
    }

    .items-episode {
      margin: auto;
    }

    button {
      margin: 1rem 1.09rem;
      font-size: 1.25rem;
      width: 8rem;
      height: 4rem;

      span {
        display: flex;
        flex-direction: column;
      }

      &:focus {
        outline: auto;
      }
    }
  }
}

.comment {
  background: gray;
  margin-top: 1rem;
  padding: 1rem;
  height: 10rem;


  .title-comment {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding-bottom: 1.5rem;
  }
}

.suggestion {
  background: gray;
  margin-top: 1rem;
  padding: 1rem;
  height: 15rem;

  .title-suggestion {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding-bottom: 1.5rem;
  }
}
